h2 Edit Answer

= render "form.html", Map.put(assigns, :action, Routes.question_answer_path(@conn, :update, @question, @answer))

= link "Back", to: Routes.question_answer_path(@conn, :index, @question)
