h2 = gettext "Edit %{name}", name: gettext "Answer"

= render "form.html", Map.put(assigns, :action, Routes.question_answer_path(@conn, :update, @question, @answer))

= link gettext("Back"), to: Routes.question_answer_path(@conn, :index, @question)
