h2 Edit Survey template

= render "form.html", Map.put(assigns, :action, Routes.ambit_standard_survey_template_path(@conn, :update, @standard.ambit.id, @standard, @survey_template))

= link gettext("Back"), to: Routes.ambit_standard_path(@conn, :show, @standard.ambit, @standard)
