h2 New Survey template

= render "form.html", Map.put(assigns, :action, Routes.ambit_survey_template_path(@conn, :create, @ambit))

= link gettext("Back"), to: Routes.ambit_path(@conn, :show, @ambit)
